<div>
  <div ng-if="vm.isAuthenticated()">
    <h2>Create tournament</h2>

    <div class="row">
      <div class="col-xs-12">
        <form name="tournamentForm" novalidate>
          <div class="form-group">
            <input ng-model="vm.name" type="text" id="name" name="name" class="form-control" placeholder="Name"/>
          </div>
          <div class="form-group">
            <input ng-model="vm.startDate" type="datetime-local" id="startDate" name="starDate" class="form-control"
                   placeholder="Start date"/>
          </div>
          <div class="form-group">
            <input ng-model="vm.playersPerGroup" id="playersPerGroup" name="playersPerGroup" class="form-control" placeholder="Players per group" type="number"/>
          </div>
          <div class="form-group">
            <input ng-click="vm.createTournament(vm.name, vm.startDate, vm.playersPerGroup)" type="submit" value="Create"
                   class="btn btn-success"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h2>
    Tournaments
    <span ng-bind="vm.tournaments.length" class="badge"></span>
  </h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Players per group</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tournament in vm.tournaments">
      <td>
        <a ui-sref="tournamentDetail({id: tournament.$id})" href="">
          <span ng-bind="tournament.name"></span>
        </a>
      </td>
      <td>
        <span ng-bind="vm.dateTime(tournament.startDate)"></span>
      </td>
      <td>
        <span ng-bind="tournament.maxPlayersPerGroup"></span>
      </td>
    </tr>
    </tbody>
  </table>

</div>
