<div ng-if="vm.pool">
  <div class="page-header">
    <h1>Tournament pool</h1>
  </div>

  <div class="well">
    <h3>Add new player</h3>

    <form id="newPlayerForm" novalidate>
      <div class="row">
        <div class="col-xs-6">
          <input
            ng-model="vm.playerName"
            id="playerName"
            type="text"
            placeholder="Player name"
            class="form-control" required/>
        </div>
        <div class="col-xs-6">
          <input
            type="submit"
            ng-click="vm.addPlayer(vm.playerName)"
            ng-disabled="newPlayerForm.$invalid"
            class="btn btn-success"/>
        </div>
      </div>
    </form>
  </div>

  <div>
    <h3>
      Registered players
      <span ng-bind="vm.pool.length" class="badge"></span>
    </h3>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Checked in</th>
        <th>Name</th>
        <th>Check In</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="player in vm.pool">
        <td>
          <h4>
            <i ng-if="player.isCheckedIn" class="fa fa-check text-success"></i>
          </h4>
        </td>
        <td>
          <h4 ng-bind="player.$id"></h4>
        </td>
        <td>
          <button
            ng-click="vm.setPlayerIsCheckedIn(player.$id, !player.isCheckedIn)"
            class="btn"
            ng-class="player.isCheckedIn ? 'btn-warning' : 'btn-success'">
              <span ng-if="!player.isCheckedIn">Check in</span>
              <span ng-if="player.isCheckedIn">Undo check in</span>
          </button>
        </td>
        <td>
          <button ng-click="vm.removePlayer(player.$id)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
