<div>
  <pre>{{vm.tournament() | json}}</pre>
</div>

<div>
  <strong ng-bind="vm.tournament().name"></strong>
</div>

<div>
  <h4>Start date</h4>
  <span ng-bind="vm.dateTime(vm.tournament().startDate)"></span>
</div>

<div>
  <h4>
    <span ng-if="!vm.hasStartDatePassed(vm.tournament().startDate)">Time until start</span>
    <span ng-if="vm.hasStartDatePassed(vm.tournament().startDate)">Time since started</span>
  </h4>
  <span ng-bind="vm.timeDifferenceFromNow(vm.tournament().startDate)"></span>
</div>

<div>
  <h4>Players per group</h4>
  <span ng-bind="vm.tournament().maxPlayersPerGroup"></span>
</div>

<div ng-if="vm.tournament().state === vm.tournamentStates().REGISTRATION_OPEN">
  <mn-pool mn-tournamentId="vm.tournament().$id"></mn-pool>
</div>
