<div ng-if="vm.tournament">
  <div class="well">
    <div>
      <h2 ng-bind="vm.tournament.name"></h2>
    </div>

    <div>
      <h4>Start date</h4>
      <strong ng-bind="vm.dateTime(vm.tournament.startDate)"></strong>
    </div>

    <div>
      <h4>
        <span ng-if="!vm.hasStartDatePassed(vm.tournament.startDate)">Time until start</span>
        <span ng-if="vm.hasStartDatePassed(vm.tournament.startDate)">Time since start</span>
      </h4>
      <strong ng-bind="vm.timeDifferenceFromNow(vm.tournament.startDate)"></strong>
    </div>

    <div>
      <h4>Players per group</h4>
      <strong ng-bind="vm.tournament.maxPlayersPerGroup"></strong>
    </div>
  </div>
</div>
