<div ng-if="vm.players && vm.groups">
  <h2>Create a group</h2>

  <div class="row">
    <div class="col-xs-offset-6 col-xs-6">
      <button class="btn btn-success" ng-click="vm.createGroup(vm.selectedPlayerNames)">Create group</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h3>
        Checked in players
        <span ng-bind="vm.availablePlayersInPlayers(vm.players).length" class="badge"></span>
      </h3>

      <div class="list-group">
        <a
          href=""
          ng-repeat="player in vm.availablePlayers(vm.players)"
          ng-click="vm.selectPlayerName(player.$id)"
          class="list-group-item">
            <span ng-bind="player.$id" ></span>
        </a>
      </div>
    </div>
    <div class="col-xs-6">

      <h3>
        Selected players
        <span ng-bind="vm.selectedPlayerNames.length" class="badge"></span>
      </h3>

      <div class="list-group">
        <a
          href=""
          ng-repeat="playerName in vm.selectedPlayerNames"
          ng-click="vm.unselectPlayerName(playerName)"
          class="list-group-item">
          <span ng-bind="playerName"></span>
        </a>
      </div>
    </div>
  </div>

  <h2>
    Groups
    <span ng-bind="vm.groups.length" class="badge"></span>
  </h2>

  <div ng-repeat="group in vm.groups">
    <h3>
      <a ui-sref="group({mnTournamentId: vm.mnTournamentId, mnGroupId: group.$id})" href="">
        Group <span ng-bind="$index"></span>
      </a>
      <small class="text-muted" ng-bind="group.$id"></small>
    </h3>

    <h4>Tier <strong ng-bind="group.tier"></strong></h4>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4>Players</h4>
        <ul class="list-group">
          <li
            ng-repeat="playerName in group.players"
            class="list-group-item">
            <span ng-bind="playerName"></span>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Games</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Red player</th>
            <th>Blue player</th>
            <th>Red score</th>
            <th>Blue score</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="game in group.games">
            <td>
              <span ng-bind="game.redPlayer"></span>
            </td>
            <td>
              <span ng-bind="game.bluePlayer"></span>
            </td>
            <td>
              <span ng-bind="game.redScore"></span>
            </td>
            <td>
              <span ng-bind="game.blueScore"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
